<h2>Doctor list</h2>
<table class="doctor-list">
    <thead>
        <tr class="doctor-list-header">
            <th class="header-id">ID</th>
            <th class="header-name">Name</th>
            <th class="header-surname">Surname</th>
            <th class="header-telephone">Telephone</th>
            <th class="header-email">Email</th>
            <th class="header-specialization">Specialization</th>
            <th class="header-delete-doctor">Delete doctor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let doctor of doctors">
            <td class="doctor-id">{{doctor.id}}</td>
            <td class="doctor-name">{{doctor.name}}</td>
            <td class="doctor-surname">{{doctor.surname}}</td>
            <td class="doctor-telephone">{{doctor.telephone}}</td>
            <td class="doctor-email">{{doctor.email}}</td>
            <td class="doctor-specialization">{{doctor.specialization}}</td>
            <td class="doctor-delete">
                <button 
                    type="button" 
                    class="delete" 
                    title="delete doctor" 
                    (click)="deleteDoctor(doctor.id!)">
                    X</button>
            </td>
        </tr>
    </tbody>
</table>
