<div class="container">
    <h2>Add Doctor</h2>
    <form #doctorForm="ngForm">        
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name"
                placeholder="Doctors name"
                required
                [(ngModel)]="model.name" name="name"
                #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert">
                <div *ngIf="name.errors?.['required']">Name is required</div>
            </div>
        </div>
            
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname"
                placeholder="Doctors surname"
                required
                [(ngModel)]="model.surname" name="surname"
                #surname="ngModel">
            <div [hidden]="surname.valid || surname.pristine" class="alert">
                <div *ngIf="surname.errors?.['required']">Surname is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="telephone">Telephone</label>
            <input type="tel" class="form-control" id="telephone"
                placeholder="Telephone number" pattern="\+?[0-9]+"
                required
                [(ngModel)]="model.telephone" name="telephone"
                #telephone="ngModel">
            <div [hidden]="telephone.valid || telephone.pristine" class="alert">
                <div *ngIf="telephone.errors?.['required']">Telephone is required</div>
                <div *ngIf="telephone.errors?.['pattern']">Telephone should consist of numbers</div>
            </div>
        </div>

        <div class="form-group">
            <label for="eMail">eMail</label>
            <input type="eMail" class="form-control" id="eMail"
                placeholder="Doctors e-mail address"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                required
                [(ngModel)]="model.eMail" name="eMail"
                #eMail="ngModel">
            <div [hidden]="eMail.valid || eMail.pristine" class="alert">
                <div *ngIf="eMail.errors?.['required']">eMail is required</div>
                <div *ngIf="eMail.errors?.['pattern']">Invalid eMail format</div>
            </div>
        </div>

        <div class="form-group">
            <label for="specialization">Specialization</label>
            <input type="text" class="form-control" id="specialization"
                placeholder="Doctors specialization"
                required
                [(ngModel)]="model.specialization" name="specialization"
                #specialization="ngModel">
            <div [hidden]="specialization.valid || specialization.pristine" class="alert">
                <div *ngIf="specialization.errors?.['required']">Specialization is required</div>
            </div>
        </div>
        <button type="button" 
            class="create-doctor"
            [disabled]="!doctorForm.form.valid"
            (click)="newDoctor(); doctorForm.reset()">
            Add Doctor
        </button>
    </form>
</div>
        